#dashboard, #modelOptions, #dataOptions{
    background-color: #ffe6f2;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

#dashboard .blocksBackground, #scale{
    background-color: #ffe6f2;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

#modelOptions, #dataOptions{
    font-size: 20px;
}
svg {
    background-color: #ccccff;
}

path {
  stroke-linejoin: round;
  stroke-linecap: round;
}

.land.active {
    fill: #00FF00 !important;
}

.land {
  fill: #bbb;
}

.border {
  pointer-events: none;
  fill: none;
  stroke: #fff;
}

.border--district {
  stroke-width: .5px;
}

.border--state {
  stroke-width: 1.5px;
}

body{
     font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
     background-color: #cccccc;
     text-align: center;
     font-size: x-large;
}    

div.blocksBackground {
    padding:20px;
    background-color: #ffeee6;
}

div.delegateBox.active {
    background-color: #00FF00 !important;
}

div.delegateBox {
    display: inline-block;
    width: 20px;    
    margin: 5px 1px;
    background-color: #bbbbbb;
    vertical-align : bottom;
}


div.stateBox {
    display: inline-block;
    margin-right: 2px;
    background-color: #bbbbbb;
    vertical-align : middle;
    width : 5px;
    height : 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

div#stateBlocks{
    line-height : 75%;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

div.stateBox.active {
    background-color: #00FF00 !important;
}

div.topbar{
    width:100%;
    background-color : blue;
}

div.topbar.active {
    background-color: #00FF00 !important;
}

#viz{
    background-color:#bbbbbb;
    width : 760px;
    display:inline-block;
}

#blocks{
    padding:0px;
    width:350px;
    display:inline-block;
    vertical-align:middle;
}

#caMap{
    display:inline-block;
    position:relative;
    vertical-align:middle;
    height:700px;
}

#california{
    width : 400px;
    height : 700px;
    display : inline-block;
}

#scaleobj{
    position:absolute;
    top:0px;
    right:0px;
    height:175px;
}

#minValue{
    position:absolute;
    right:35px;
    bottom:0px;
}

#maxValue{
    position:absolute;
    right:35px;
}

#scale{
    width:35px;
    height:175px;
    background-color:white;
    position:absolute;
    top:0px;
    right:0px;
}

#viz, #california{
    background-color: #ffeee6;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}
